@media screen and (max-width: 1400px) {
    .desktopNav {
        display: none;
    }
    
}
@media screen and (min-width: 1401px) {
    .hamNav {
        display: none;
    }
}
@media screen and (max-width:1610px){
    #img2 {
        display: none;
    }
    .hero {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        font-size: 50px;
    }
    .heroButtons {
        all: unset;
        margin-bottom: 30px;
    }
    #img1 {
        scale: 0.5;
        bottom: -175px;
        right: 200px;
    }
}



@media  screen and (max-width: 1000px) {
    #img1 {
        right: -40px;
    }
    .hero {
        all: unset;
        display: flex ;
        flex-direction: column;
        align-items: center;
    }

    .heroText {
        font-size: 40px;
    }
    .heroButtons {
        margin: 20px 0 0 0;
    }
    
    
    
}

@media screen and (max-width:750px){
    #img1 {
        right: -250px;
    }
    .heroText{
        font-size: 30px;
    }
    .heroText span {
        font-size: 40px;
    }

    
    
}
@media screen and (max-width:500px) {
    #img1 {
       scale: 0.4;
       bottom: -210px;
       right: -300px;
    }
    .heroText {
        font-size: 20px;
        margin: 20px;
        margin-top: 17%;
        line-height: 1.4;
    }
}

@media screen and (max-width: 450px) {  
    #img1 {
        scale: 0.4;
    }

    .heroText {
        font-weight: heavy;
        margin: 0;
        line-height: 2;
        font-size: 20px;
    }

    .heroText span {
        font-size: 35px;
    }   

    .heroButtons {

        display: flex;
        flex-direction: column;
    }
    #heroBtn1 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .aboutContainer {
        height: 350px;

    }
    
}

@media screen and (max-width: 930px) {
    .aboutWrapper, .aboutWrapper2 , .aboutWrapper3{
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }
    
    .aboutContainer {
        border-radius: 20px;
        margin: 20px;
        padding: 10px;
        width: unset;
        height: unset;
    }

    #aboutPhoto1 , #aboutPhoto2 {
        display: none;
    }

    #aboutH3 {
        width: 100%;
        height: 100%;
        text-align: center;
        box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);   
        border-radius: 20px; 
     }
}

@media screen and (max-width: 500px){
    .portfolioImage img {
        width: 300px;
    }
}

@media screen and (max-height: 800px){
    #img1 {
        right: -40px;

    }
    .hero {
        all: unset;
        display: flex ;
        flex-direction: column;
        align-items: center;
    }

    .heroText {
        font-size: 40px;
    }
    .heroButtons {
        margin: 20px 0 0 0;
    }
    .header {
        min-height: 900px;
    }
}


@media screen and (max-width: 540px) and (max-height: 720px){
    #img1{

        display: none;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px){
    .header{
        min-height: 800px;
        font-size: 10px;
    }

    .heroText{
        font-size: 20px;
        
    }

    .hamMenu {
        margin-left: 0;
    }

    .hamNav h2{
        display: none;
    }
    
}

@media screen and (max-width: 768px){
    .hidden ,.hiddenLeft, .hiddenFade{
        opacity: 1;
        filter: none;
        transform: none;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px){
    .heroText{
    }
}
@media screen  and (min-width: 1000px) and (max-width:1600px){
    #img1{
        display: none;
    }
}

@media screen and (max-height:800px) {
    #img1{
        display: none;
    }
}


@media screen and (max-width: 1024px) and (max-height: 1366px){
    #header{
        
    }
    .hero{
        margin: 0;
        margin-top: 200px;
    }
}